{% extends "index.html"%} {% block encabezado%} {% include "encabezado.html"%} {% endblock%} {%block contenido %}
<div class="w-50" style="margin: 0 auto;">
    <form action="/actualizarProducto" method="post" enctype="multipart/form-data" class="was-validated">
        <div>
            <h3 class="text-center text-black-50"><b>Actualizar Producto</b></h3>
        </div>
        <input type="hidden" name="idProducto" id="idProducto" value="{{producto.idProducto}}">
        <div class="mb-3">
            <label class="fw-bold" for="txtCodigo">Codigo: </label>
            <input type="number" name="txtCodigo" id="txtCodigo" class="form-control" value="{{producto.proCodigo}}" required>
        </div>
        <div class="mb-3">
            <label class="fw-bold" for="txtNombre">Nombre: </label>
            <input type="text" name="txtNombre" id="txtNombre" class="form-control" value="{{producto.proNombre}}" required>
        </div>
        <div class="mb-3">
            <label class="fw-bold" for="txtPrecio">Precio: </label>
            <input type="number" name="txtPrecio" id="txtPrecio" class="form-control" value="{{producto.proPrecio}}" required>
        </div>

        <div class="mb-3">
            <label class="fw-bold" for="fileFoto">Imegen: </label>
            <input type="file" name="fileFoto" id="fileFoto" class="form-control" accept=".jpg">

        </div>
        <div class="mb-3">
            <label class="fw-bold" for="txtCodigo">Categoria: </label>
            <select name="cbCategoria" id="cbCategoria" class="form-select" required>
                <option value="">Seleccione</option>
                {%for categoria in listaCategorias%}
                    <option value="{{categoria.idCategoria}}">{{categoria.catNombre}}</option>
                {%endfor%}
            </select>
            <div>
                <button class="btn btn-success">Editar</button>
            </div>
        </div>
    </form>
    {%if mensaje %}
    <script>
        Swal.fire("Producto Actualizado", '{{mensaje}}', 'info')
    </script>
    {% endif %}
    <script>
        document.getElementById('cbCategoria').value= "{{producto.proCategoria}}"
    </script>
</div>
{%endblock %} {% block piePagina%} {% include "piePagina.html"%} {% endblock%}