{% extends "index.html"%} {% block encabezado%} {% include "encabezado.html"%} {% endblock%} {% block contenido%}
<div style="margin: auto;">
    <div>
        <a href="/vistaAgregarProducto">
            <button class="btn btn-success">Agregar</button>
        </a>

    </div>
    <div>
        <table class="table table-bordered table-hover">
            <thead class="bg-danger text-center">
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Categoria</th>
                    <th>Imagen</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in listaProductos %}
                <tr>
                    <td>{{producto.proCodigo}}</td>
                    <td>{{producto.proNombre}}</td>
                    <td>{{producto.proPrecio}}</td>
                    <td>{{producto.categoria.catNombre}}</td>
                    <td class="text-center">
                        <img src="../static/imagenes/{{producto.idProducto}}.jpg" width="50" height="50" alt="">
                    </td>
                    <td class="text-center" style="font-size: 4vh;">
                        <a href="/consultar/{{producto.idProducto}}">
                            <i class="fa fa-edit text-warning" title="Editar"></i>
                        </a>
                        <i class="fa fa-trash text-danger" title="Eliminar" onclick="abrirModalEliminar('{{producto.idProducto}}')"></i>
                    </td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
</div>
{%if mensaje %}
<script>
    Swal.fire("Gestionar Producto", '{{mensaje}}', 'info')
</script>
{% endif %} 
{% endblock%} {% block piePagina%} {% include "piePagina.html"%} {% endblock%}